.page_head_banner {
    width: 100%;
    aspect-ratio: 1920 / 450;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 50% 100%, 0 90%);
    margin-bottom: 80px;
    position: relative;
}

.page_head_banner_img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    -webkit-filter: brightness(.7);
}

.page_head_banner_content {
    z-index: 1;
}

.page_head_banner_title {
    text-align: center;
    color: var(--dark-primary);
    font-size: 2rem;
    font-weight: bold;
}

.page_head_banner_subtitle {
    text-align: center;
    color: var(--cyan);
    font-size: 1.75em;
}

@media (max-width: 768px) {
    .page_head_banner {
        height: 250px;
    }

    .page_head_banner_title {
        font-size: 1.75rem;
    }

    .page_head_banner_subtitle {
        font-size: 1.5rem;
    }
}

.page_section {
    padding: 0 15px 80px;
}

.page_breadcrumb {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.page_breadcrumb_link {
    transition: all 0.4s ease-in-out;
}

.page_breadcrumb_link:hover {
    color: var(--cyan);
}

.page_breadcrumb_link.active {
    color: var(--cyan);
    font-weight: bold;
}

.page_breadcrumb_separator {
    margin: 0 10px;
}

.news_category_nav {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    overflow-x: auto;
    padding-bottom: 5px;
}

.news_category_link {
    border: 2px solid var(--cyan);
    padding: 0px 15px;
    font-size: 1.25rem;
    border-radius: 30px;
    margin: 0 10px;
    transition: all 0.4s ease-in-out;
    white-space: nowrap;
}

.news_category_link:hover,
.news_category_link.active {
    background: var(--cyan);
    color: #fff;
}

.news_list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.news_list_content {
    width: calc(100% / 3 * 2);
    padding: 0 15px 0 70px;
    display: flex;
    flex-direction: column;
}

.news_list_head {
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;
    position: relative;
}

.news_list_year_and_date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: -70px;
    border-radius: 50%;
    background: var(--cyan);
    color: #fff;
    padding: 10px;
    width: 60px;
    height: 60px;
}

.news_list_title {
    border-bottom: 2px solid var(--dark-primary);
    flex-grow: 1;
    font-size: 1.75rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.news_list_summary {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    word-break: break-all;
    margin-bottom: 10px;
    font-size: 1.25rem;  
}

.news_list_footer {
    margin-top: auto;
    margin-left: auto;
}

.news_list_img_wrap {
    width: calc(100% / 3);
}

.news_list_img {
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
}

.news_list_more {
    padding: 0 15px;
    transition: all 0.4s ease-in-out;
}

.news_list:hover .news_list_more {
    color: var(--cyan);
}

.news_list:hover .news_list_more i {
	animation: horizontal_move 0.7s infinite ease-in-out alternate;
}

@media (max-width: 1280px) {
    .news_list_summary {
        -webkit-line-clamp: 4;
    }
}

@media (max-width: 992px) {
    .news_list_summary {
        -webkit-line-clamp: 3;
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .news_list_content {
        width: 100%;
        order: 1;
    }

    .news_list_title {
        font-size: 1.25rem;
    }

    .news_list_img_wrap {
        width: 100%;
        margin-bottom: 15px;
    }
}

.form {
    max-width: 680px;
    margin: 0 auto;
    border: 1px solid #707070;
    border-radius: 5px;
    padding: 40px 80px 20px;
}

.form_sm {
    max-width: 480px;
    padding: 40px 40px 20px;
}

.form_title {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.75em;
    color: var(--cyan);
}

.form_group {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.form_label {
    margin-right: 15px;
    font-size: 1.25rem;
    color: var(--dark-primary);
    width: 80px;
    text-align: right;
    flex-shrink: 0;
}

.form_label_sm {
    width: 40px;
}

.form_control {
    border: 1px solid #707070;
    border-radius: 5px;
    flex-grow: 1;
    padding: 5px 15px;
    outline: none;
    line-height: 1.5;
}

.form_control_notify {
    width: 100%;
    color: #c1c1c1;
    padding-left: 95px;
    margin-top: 5px;
    margin-bottom: -10px;
}

.form_control:focus {
    border-color: var(--cyan);
}

.form_select {
    border: 1px solid #707070;
    border-radius: 5px;
    flex-grow: 1;
    padding: 5px 15px;
    outline: none;
    line-height: 1.5;
    cursor: pointer;
}

.form_select:focus {
    border-color: var(--cyan);
}

.form_textarea {
    border: 1px solid #707070;
    border-radius: 5px;
    resize: none;
    padding: 5px 15px;
    outline: none;
    width: 100%;
    line-height: 1.5;
    height: 150px;
}

.form_textarea:focus {
    border-color: var(--cyan);
}

.form_check_label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.form_check {
    width: 20px;
    height: 20px;
    appearance: none;
    border: 1px solid var(--dark-primary);
    position: relative;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 5px;
}

.form_check:checked {
    background: var(--cyan);
    border-color: var(--cyan);
}

.form_check::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 5px;
    width: 8px;
    height: 14px;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    transform: rotate(40deg);
    opacity: 0;
}

.form_check:checked::after {
    opacity: 1;
}

.form_submit_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

#form_submit {
    background: var(--cyan);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 1.25rem;
    transition: all 0.4s ease-in-out;
}

#form_submit:hover {
    opacity: 0.7;
}

@media (max-width: 768px) {
    .form {
        padding: 40px 40px 20px;
    }
}

@media (max-width: 576px) {
    .form {
        padding: 40px 15px 20px;
    }

    .form_group {
        flex-direction: column;
        align-items: flex-start;
    }

    .form_label {
        width: auto;
    }

    .form_control {
        width: 100%;
    }

    .form_control_notify {
        padding-left: 0;
    }

    .form_select {
        width: 100%;
    }
}

.product_container {
    display: flex;
    align-items: flex-start;
}

.product_sidebar {
    width: 25%;
}

.product_category_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    background: #e5e5e5;
    background: var(--cyan);
    font-size: 1.25em;
    color: #fafafa;
    margin-bottom: 10px;
}

.product_category_title i {
    color: #fafafa;
    cursor: pointer;
}

.product_category_content {
    padding-bottom: 10px;
    display: none;
}

.product_category_link {
    padding: 5px 15px;
    background: #e7e5e4;
    display: block;
    margin-bottom: 10px;
    transition: all 0.4s ease-in-out;
}

.product_category_link:hover {
    background: var(--orange);
    color: #fff;
}

.product_list_container {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
}

.product_list {
    width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.product_list_img_wrap {
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
}

.product_list_img {
    width: 100%;
    aspect-ratio: 1 / 1;
    transition: all 0.4s ease-in-out;
}

.product_list:hover .product_list_img {
    transform: scale(1.3);
}

.product_list_img_mask {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    background: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease-in-out;
}

.product_list_img_mask span {
    color: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
}

.product_list:hover .product_list_img_mask {
    opacity: 1;
}

.product_list_price {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.product_list_title {
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
    font-size: 1.25rem;
}

@media (max-width: 1280px) {
    .product_list {
        width: calc(100% / 3);
    }
}

.member_signup_notify {
    display: flex;
    align-items: center;
    padding-left: 55px;
    margin-top: -20px;
    margin-bottom: 30px;
}

.member_signup_link {
    margin-left: 10px;
    color: #0c4a6e;
    transition: all 0.4s ease-in-out;
    font-weight: bold;
}

.member_signup_link:hover {
    color: #0284c7;
}

@media (max-width: 576px) {
    .member_signup_notify {
        padding-left: 0;
    }
}