.page_head_banner {
    width: 100%;
    aspect-ratio: 1920 / 450;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 50% 100%, 0 90%);
    margin-bottom: 80px;
    position: relative;
}

.page_head_banner_img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    -webkit-filter: brightness(.7);
}

.page_head_banner_content {
    z-index: 1;
}

.page_head_banner_title {
    text-align: center;
    color: var(--dark-primary);
    font-size: 2rem;
    font-weight: bold;
}

.page_head_banner_subtitle {
    text-align: center;
    color: var(--cyan);
    font-size: 1.75em;
}

@media (max-width: 768px) {
    .page_head_banner {
        height: 250px;
    }

    .page_head_banner_title {
        font-size: 1.75rem;
    }

    .page_head_banner_subtitle {
        font-size: 1.5rem;
    }
}

.page_section {
    padding: 0 15px 80px;
}

.page_breadcrumb {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.page_breadcrumb_link {
    transition: all 0.4s ease-in-out;
}

.page_breadcrumb_link:hover {
    color: var(--cyan);
}

.page_breadcrumb_link.active {
    color: var(--cyan);
    font-weight: bold;
}

.page_breadcrumb_separator {
    margin: 0 10px;
}

.news_category_nav {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    overflow-x: auto;
    padding-bottom: 5px;
}

.news_category_link {
    border: 2px solid var(--cyan);
    padding: 0px 15px;
    font-size: 1.25rem;
    border-radius: 30px;
    margin: 0 10px;
    transition: all 0.4s ease-in-out;
    white-space: nowrap;
}

.news_category_link:hover,
.news_category_link.active {
    background: var(--cyan);
    color: #fff;
}

.news_list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.news_list_content {
    width: calc(100% / 3 * 2);
    padding: 0 15px 0 70px;
    display: flex;
    flex-direction: column;
}

.news_list_head {
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;
    position: relative;
}

.news_list_year_and_date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: -70px;
    border-radius: 50%;
    background: var(--cyan);
    color: #fff;
    padding: 10px;
    width: 60px;
    height: 60px;
}

.news_list_title {
    border-bottom: 2px solid var(--dark-primary);
    flex-grow: 1;
    font-size: 1.75rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.news_list_summary {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    word-break: break-all;
    margin-bottom: 10px;
    font-size: 1.25rem;  
}

.news_list_footer {
    margin-top: auto;
    margin-left: auto;
}

.news_list_img_wrap {
    width: calc(100% / 3);
}

.news_list_img {
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
}

.news_list_more {
    padding: 0 15px;
    transition: all 0.4s ease-in-out;
}

.news_list:hover .news_list_more {
    color: var(--cyan);
}

.news_list:hover .news_list_more i {
	animation: horizontal_move 0.7s infinite ease-in-out alternate;
}

@media (max-width: 1280px) {
    .news_list_summary {
        -webkit-line-clamp: 4;
    }
}

@media (max-width: 992px) {
    .news_list_summary {
        -webkit-line-clamp: 3;
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .news_list_content {
        width: 100%;
        order: 1;
    }

    .news_list_title {
        font-size: 1.25rem;
    }

    .news_list_img_wrap {
        width: 100%;
        margin-bottom: 15px;
    }
}

.contact_form {
    max-width: 680px;
    margin: 0 auto;
    border: 1px solid #707070;
    border-radius: 5px;
    padding: 40px 80px 20px;
}

.contact_form_group {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.contact_form_label {
    margin-right: 15px;
    font-size: 1.25rem;
    color: var(--dark-primary);
    width: 80px;
    text-align: right;
    flex-shrink: 0;
}

.contact_form_control {
    border: 1px solid #707070;
    border-radius: 5px;
    width: 100%;
    padding: 5px 15px;
    outline: none;
    line-height: 1.5;
}

.contact_form_control:focus {
    border-color: var(--cyan);
}

.contact_form_textarea {
    border: 1px solid #707070;
    border-radius: 5px;
    resize: none;
    padding: 5px 15px;
    outline: none;
    width: 100%;
    line-height: 1.5;
    height: 150px;
}

.contact_form_textarea:focus {
    border-color: var(--cyan);
}

.contact_form_submit_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact_form_submit {
    background: var(--cyan);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 1.25rem;
    transition: all 0.4s ease-in-out;
}

#contact_form_submit:hover {
    opacity: 0.7;
}

@media (max-width: 768px) {
    .contact_form {
        padding: 40px 40px 20px;
    }
}

@media (max-width: 576px) {
    .contact_form {
        padding: 40px 15px 20px;
    }

    .contact_form_group {
        flex-direction: column;
        align-items: flex-start;
    }

    .contact_form_label {
        width: auto;
    }
}