.custom_table {
    min-width: 650px;
}

.custom_table th,
.custom_table td {
    padding: 8px;
    word-break: break-all;
}

.link_btn {
    color: rgb(14 116 144);
    transition: all 0.4s ease-in-out;
}

.link_btn:hover {
    color: rgb(6 182 212);
}